<h1>Sobre o SpitSnake</h1>
<p>
  SpitSnake é um jogo de arena em que a cobra precisa sobreviver a ondas
  de inimigos, coletar maçãs, cuspir projéteis e derrotar chefes em mapas
  com dificuldade crescente.
</p>
<img src="/img/exemplo.png" alt="Tela do jogo SpitSnake" width="600">
