<h1>Ranking</h1>

<table border="1" cellpadding="8">
  <thead>
    <tr>
      <th>#</th>
      <th>Jogador</th>
      <th>Pontuação</th>
    </tr>
  </thead>
  <tbody>
    {{#each ranking}}
    <tr>
      <td>{{addOne @index}}</td>
      <td>{{this.user.fullname}}</td>
      <td>{{this.score}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>