<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>HB1 - Variável</title>
</head>
<body>
  <h1>Olá, {{playerName}}!</h1>
  <p>Seu recorde atual é {{highScore}} pontos.</p>
</body>
</html>