<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>HB4 - Helper</title>
</head>
<body>
  <h1>Tecnologias powered by Node.js</h1>
  {{listaPoweredByNodejs technologies}}
</body>
</html>